.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.table {
    width: 100%;
    max-width: 100%; /* Ajusta el ancho máximo de la tabla para que se adapte al contenedor */
    border-collapse: collapse;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 12px 15px;
    text-align: left;
    white-space: nowrap; /* Evita que el texto se ajuste y ayuda a prevenir el desbordamiento */
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el contenido es demasiado largo */
}

.table th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #e9ecef;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td {
    color: #495057;
}

.pagination-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en lugar de desbordar */
    justify-content: center;
    margin-top: 20px;
    gap: 5px; /* Añade espacio entre los botones */
}

.page-button {
    border: none;
    background-color: #f8f9fa;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    font-size: 14px; /* Ajusta el tamaño del texto para mejorar la legibilidad */
    min-width: 30px; /* Establece un ancho mínimo para los botones */
    border-radius: 4px; /* Bordes redondeados para los botones */
}

.page-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.page-button.active {
    font-weight: bold;
    background-color: #343a40;
    color: #fff;
}

.pagination-ellipsis {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    color: #495057;
}